/* = Web Fonts
-------------------------------------------------------------- */

@font-face {
	font-family: 'JejuMyeongjo';
	src: url('./fonts/JejuMyeongjo/JejuMyeongjo.ttf');
	src: url('./fonts/JejuMyeongjo/JejuMyeongjo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AppleSDGothicNeoM00';
	src: url('./fonts/AppleSDGothicNeoM00/AppleSDGothicNeoM.ttf');
	src: url('./fonts/AppleSDGothicNeoM00/AppleSDGothicNeoM.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AppleSDGothicNeoL00';
	src: url('./fonts/AppleSDGothicNeoL00/AppleSDGothicNeoL.ttf');
	src: url('./fonts/AppleSDGothicNeoL00/AppleSDGothicNeoL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
	src: url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Preloader
-------------------------------------------------------------- */

.page-preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 100000;
	background: #ffffff url('./img/pageload-spinner.gif') no-repeat center center;
	animation-name: preloader-fade;
	animation-delay: 2s;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}
.preloader-complete {
	animation-delay: 0.1s;
}
@keyframes preloader-fade {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

/* App
-------------------------------------------------------------- */
.App {
	text-align: center;
	width: 100vw;
	height: 100vh;
	background-color: #fbfbfb;
}
